*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
    
}
body{
    overflow-x: hidden;
}
#page1{
    height: 100%;
    width: 100%;
    background-color: lightskyblue;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
#page2{
    height: 100%;
    width: 100%;
    background-color: rgb(82, 187, 253);
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
#page2 h1{
   font-size: 40vw ;
   color: black;
   font-weight: 500;
   
}

#page3{
    height: 100%;
    width: 100%;
    background-color: rgb(50, 173, 249);
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
#box{
    height: 300px;
    width: 300px;
    background-color: rgb(42, 43, 118);
}